<div class="item" id="item_<%= post.id %>">
  <div class="item_details">
    <h3><%= post.title %></h3>
    <h4>Posted <%= Site.author_info(post) %> on <%= Site.date_time_linked(post) %></h4>
    <h4>Categories: <%= Site.tag_info(post) %></h4>
  </div>
  <div class="item_content">
    <%= image_tag( post.attachment.url ) if post.attachment.file? %>
    <%= auto_link(post.body) %>
    <%= Site.extended_content_link(post) %>
    <%#=h post.related.map { |p| p.title } .inspect %>
  </div>
  <div class="item_meta">
    <% if Site.comment_system_on %><span class="item_comments">Comments: <%= Site.comment_info(post) %></span><% end %>
  </div>
</div>
